

/*------------------------------------------- MOBILE -------------------------------------------*/

@media screen and (max-width: 1300px) {

  .buttons-div {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    top: 80px;
    left: 16px;
    width: 80px;
    padding-left: 10px;
    height: 350px;
    gap: 20px;
    z-index: 19998;
  }

  .exit-button {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 60px;          /* Augmenté de 40px à 60px */
    height: 60px;         /* Augmenté de 40px à 60px */
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 30px;      /* Augmenté de 20px à 30px */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 20001;
  }
}

.nav-button {
    position: fixed;
    padding: 15px 25px;
    margin: 10px;
}