@font-face {
  font-family: "Champagne Limousines";
  src: url("../../../public/Champagne & Limousines Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.title-label {
    position: absolute;
    width: fit-content;
    text-align: center;
    font-family: "Champagne Limousines", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 330px;
    transition: color 0.8s ease;
    z-index: 999;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
  }

  
  .gallery-buttons-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }


  .gallery-buttons-open-container {
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: px; 
  }
  
  .gallery-buttons-open {
    display: flex;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    opacity: 0;
    font-family: "Champagne Limousines", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;    

  }
