@keyframes pulse-nav {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.7);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 0.0;
  } 
}


.title-label {
  width: fit-content;
  text-align: center;
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 330px;
  transition: color 0.8s ease;
  z-index: 999;
}

.buttons-container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.mobile-nav-buttons-container {
  display: none;
}

.pulse-button {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: none;
  background-color: white;
  color: white;
  font-size: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.pulse-button::after {
  content: '';
  position: absolute;
  top: -5px; 
  left: -5px; 
  right: -5px; 
  bottom: -5px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  z-index: 5;
  animation: pulse-nav 2s infinite;
}



.button-show {
  position: absolute;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 0;
  padding: 0;
  cursor: pointer;
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}


/*------------------------------------------- MOBILE -------------------------------------------*/

@media screen and (max-width: 1024px) {
  .buttons-container {
    display: none;
  }

  .mobile-nav-buttons-container {
    position: fixed;
    top: 4vh;
    left: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-buttons-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
      position: absolute;
    }
  }

  .mobile-button {
    font-family: "Agdasima", sans-serif !important; 
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 1001;
  }

  .mobile-button-toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    top: 5%;
    left: 5%;
  }

  .mobile-button-toggle::after {
    content: '';
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background: white;
    border-radius: 50%;
    animation: pulse-nav 2s infinite;
  }

  .exit-button {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 60px;          /* Augmenté de 40px à 60px */
    height: 60px;         /* Augmenté de 40px à 60px */
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 30px;      /* Augmenté de 20px à 30px */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
  }
}