@font-face {
  font-family: "Champagne Limousines";
  src: url("../../../public/Champagne & Limousines Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.hoolis-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;


} 
.hoolis-images-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-label {
    position: absolute;
    width: fit-content;
    text-align: center;
    font-family: "Champagne Limousines", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 330px;
    transition: color 0.8s ease;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
  }

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

