.landing-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.75s ease;
  
}

.desktop-view {
  display: block;
}

.mobile-view {
  display: none;
}

.crown-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  transition: background-color 0.75s ease;

  .landing-menus {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .landing-menu-item {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .title-label {
    width: fit-content;
    text-align: center;
            font-family: "Champagne Limousines", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 330px;
    transition: color 0.8s ease;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
  }
}


.crown-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  transition: fill 0.8s ease;
}






@media (max-width: 1300px) {
    .mobile-view {
        display: flex;
        justify-content: center;
        align-items: center;

        .mobile-landing {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 1;
            }

            .crown-svg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 1;
            }
        }
    }
    
    .desktop-view {
        display: none;
    }


}


