.mobile-shop-container {
    display: none;
}

.shop-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 0;

    .shop-landing {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .shop-gallery {
        position: absolute;
        width: 95%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        hr {
            position: absolute;
            top: -40vh;
            width: 10%;
            height: 1px;
            background-color: white;
        }

        .shop-gallery-articles {
            position: absolute;
            width: 100%;
            height: 90%;
            top: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5px;
            overflow-x: hidden;
            overflow-y: hidden;

            .article {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 7%;
                height: 100%;
                cursor: pointer;


                .article-image-container {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: start;
                    overflow-x: auto;
                    scrollbar-width: none;
                    -ms-overflow-style: none;
                    
                
                    img {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                
                .article-description {
                    position: absolute;
                    width: fit-content;
                    height: fit-content;
                    opacity: 0;
                    display: flex;
                    flex-direction: column;
                    pointer-events: none !important;

                    h1 {
                        font-size: 46px;
                        color: white;
                    }
                }

                .article-details {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    pointer-events: none !important;
                }

                .article-title {
                    position: absolute;
                    top: 0%;
                    left: 2%;
                    font-size: 36px;
                    color: white;
                }

                .article-price {
                    position: absolute;
                    top: 6%;
                    left: 2%;
                    font-size: 36px;
                    color: white;
                }

                .add-to-cart {
                    position: absolute;
                    top: 15%;
                    left: 2%;
                    border: 3px solid white;
                    padding: 10px;
                    border-radius: 10px;
                    font-size: 26px;
                    color: white;
                    cursor: pointer;
                    pointer-events: all !important;
                }

                .add-to-cart:hover {
                    cursor: pointer;
                    color: black;
                    border: 3px solid black;
                }

                p {
                    position: absolute;
                    bottom: 0%;
                    left: 2%;
                    pointer-events: none !important;
                    font-size: 26px;
                }

                .close-article {
                    position: absolute;
                    top: 0%;
                    right: 2%;
                    font-size: 36px;
                    color: white;
                    cursor: pointer;
                    pointer-events: all !important;
                }

                .close-article:hover {
                    cursor: pointer;
                    color: black;
                }
            }
        }
        
    }
    
    .cart-icon {
        position: absolute;
        top: 4vh;
        right: 2%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        fill: white;

        .cart-quantity {
            position: absolute;
            bottom: 80%;
            right: 5%;
            font-size: 20px;
            color: white;
        }
    }

    .cart-icon:hover {
        cursor: pointer;
        fill: black;
    }

    .cart-container {
        position: absolute;
        width: 50%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 10px;
        border: 5px solid black;
        z-index: 100;


        .bg-cart {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0.9;
            border-radius: 10px;
        }

        .cart-title {
            position: absolute;
            top: -1%;
            left: 2%;
            font-size: 36px;
            color: black;
        }

        .close-cart {
            position: absolute;
            top: -1%;
            right: 2%;
            font-size: 36px;
            color: black;
            cursor: pointer;
        }

        .close-cart:hover {
            cursor: pointer;
            color: white;
        }

        hr {
            position: absolute;
            width: 96%;
            top: 6%;
            height: 2px;
            background-color: black;
            font-size: 36px;
            cursor: pointer;
        }

        .cart-items {
            position: absolute;
            top: 12%;
            width: 100%;
            height: 85%;
            display: flex;
            justify-content: start;
            flex-direction: column; 
            gap: 5px;
            overflow-y: auto;


            .cart-item {
                position: relative;
                width: 100%;
                height: 120px;
                display: flex;
                flex-direction: column;
                justify-content: center;    
                align-items: center;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                .cart-item-title {
                    position: absolute;
                    font-size: 46px;
                    color: white;
                }

                .cart-item-details {
                    position: relative;
                    width: 15%;
                    height: 10%;
                    left: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 26px;
                    color: white;


                    p {
                        text-align: center;
                        padding: 0px;
                        margin: 0px;
                        font-size: 30px;
                        font-weight: 600;
                    }   

                    .remove-item {
                        font-size: 30px;
                        cursor: pointer;
                        border-radius: 10px;
                        padding: 0px;
                        margin: 0px;
                        text-align: center;
                    }

                    .remove-item:hover {
                        cursor: pointer;
                        color: black;
                    }
                    
                }
                

            }
        }
    }
}

@media (max-width: 1024px) {
    .shop-container {
        display: none;
    }

    .mobile-shop-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        

        .mobile-shop-articles {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;

            .mobile-shop-article-image-container {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: start;
                overflow-x: auto;
                scrollbar-width: none;
                -ms-overflow-style: none;

                .mobile-shop-article-details {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    pointer-events: none !important;
                    color: white;
                    font-size: 30px;

                    .add-to-cart {
                        border: 3px solid white;
                        padding: 10px;
                        border-radius: 10px;
                        font-size: 30px;
                        color: white;
                        cursor: pointer;
                        pointer-events: all !important;
                        margin: 20px;
                    }

                    .add-to-cart:hover {
                        cursor: pointer;
                        color: black;
                        border: 3px solid black;
                    }

                    h1 {
                        margin: 0px;
                    }
                    
                }
            }


        }

        .cart-icon {
            position: fixed;
            top: 4vh;
            right: 2%;
            width: 50px;
            height: 50px;
            cursor: pointer;
            fill: black;
    
            .cart-quantity {
                position: absolute;
                bottom: 80%;
                right: 10%;
                font-size: 20px;
                color: black;
            }
        }
    
        .cart-icon:hover {
            cursor: pointer;
            fill: black;
        }
    
        .cart-container {
            position: fixed;
            top: 15vh;
            left: 4vw;
            width: 90vw;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border-radius: 10px;
            border: 5px solid black;
            z-index: 100;
    
    
            .bg-cart {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: white;
                opacity: 0.9;
                border-radius: 10px;
            }
    
            .cart-title {
                position: absolute;
                width: 100%;
                bottom: 0%;
                font-size: 36px;
                color: black;
                text-align: center;
            }
    
            .close-cart {
                position: absolute;
                top: -0.5%;
                right: 2%;
                font-size: 36px;
                color: black;
                cursor: pointer;
                background-color: transparent;
                border: none;
                width: 100%;
                font-size: 36px;
                font-family: "Agdasima", sans-serif !important; 
                font-weight: 600;
            }
    
            .close-cart:hover {
                cursor: pointer;
                color: white;
            }
    
            .cart-hr-top {
                position: absolute;
                width: 96%;
                top: 6%;
                height: 2px;
                background-color: black;
                font-size: 36px;
                cursor: pointer;
            }

            .cart-hr-bottom {
                position: absolute;
                width: 96%;
                bottom: 6%;
                height: 2px;
                background-color: black;
                font-size: 36px;
                cursor: pointer;
            }
    
            .cart-items {
                position: absolute;
                top: 12%;
                width: 100%;
                height: 75%;
                display: flex;
                justify-content: start;
                flex-direction: column; 
                gap: 5px;
                overflow-y: auto;
                scrollbar-width: none;
                -ms-overflow-style: none;
    
    
                .cart-item {
                    position: relative;
                    width: 100%;
                    height: 120px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;    
                    align-items: center;
    
                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
    
                    .cart-item-title {
                        position: absolute;
                        font-size: 36px;
                    }
    
                    .cart-item-details {
                        position: relative;
                        width: 15%;
                        height: 10%;
                        left: 40%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-size: 26px;
                        color: white;
    
    
                        p {
                            text-align: center;
                            padding: 0px;
                            margin: 0px;
                            font-size: 26px;
                            font-weight: 600;
                        }   
    
                        .remove-item {
                            font-size: 26px;
                            cursor: pointer;
                            border-radius: 10px;
                            padding: 5px;
                            margin: 0px;
                            
                        }
    
                        .remove-item:hover {
                            cursor: pointer;
                            color: black;
                        }
                        
                    }
                    
    
                }
            }
        }
    }
    
}



