.support-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: #226D68 !important;

    .title-label {
        position: absolute;
        width: fit-content;
        text-align: center;
        font-family: "Champagne Limousines", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 330px;
        transition: color 0.8s ease;
        -webkit-text-stroke: 2px white;
        text-stroke: 2px white;
      }

.support-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    
    input {
        font-family: "Champagne Limousines", sans-serif !important;
        font-size: 24px;
        font-weight: 600;
        background-color: lightgray;
    }

    textarea {
        font-family: "Champagne Limousines", sans-serif !important;
        font-size: 24px;
        font-weight: 600;
        height: 200px;
        background-color: lightgray;
    }

    button {
        width: 100%;
        font-family: "Champagne Limousines", sans-serif !important;
        font-size: 24px;
        font-weight: 600;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #21514e;
        color: #226D68;
    }
}
}
