@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Agdasima", sans-serif !important;
}

html, body, #root, .app-container, h1, h2, h3, p, div, span, button, input, textarea {
  font-family: "Agdasima", sans-serif !important;
}

body {
  font-family: "Agdasima", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
} 

.app-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transition: background-color 0.75s ease;
}

.title-label {
  width: fit-content;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 330px;
  transition: color 0.8s ease;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}